<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Carriers</h1>
    <img src="static/banner.jpg.jpg" height="600" width="1500">
    <h2>About Us</h2>
    <p>At [Company Name], we are pioneers in the field of artificial intelligence. Our mission is to develop cutting-edge AI systems that augment human capabilities across industries.
    With a team of top minds from prestigious universities and tech leaders, we combine advanced research with real-world applications. Our AI models leverage machine learning, natural language processing, computer vision, and neural networks to deliver accurate, safe, and scalable solutions.
    Ethical and responsible AI is our core focus. We work closely with partners to create customized AI products that tackle complex challenges. Our diverse expertise allows us to approach problems from every angle.
    Join us as we usher in the future of AI technology for a better world.</p>
    <h2>Open positions</h2>
    <p>Todo - show jobs here</p>
    <button>Contact us</button>
</body>
</html>
