<div class="border-bottom row" style="margin-bottom: 20px;  padding-bottom: 8px;">
    <div class="col-10">
        <h3 style="margin-bottom: 10px; color: gray;">{{job['title']}}</h3>
        <div>
            <b>Location:</b> {{job['location']}}
        </div>
        {% if 'salary' in job %}
        <div>
            <b>Salary:</b> {{job['salary']}}
        </div>
        {% endif %}
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-primary" >Apply</button>
    </div>
    
</div>
